<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
    xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jdbc="http://www.springframework.org/schema/jdbc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd 
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd 
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd">
    
    <!-- URL SECURITY -->
    <http auto-config="false" entry-point-ref="defaultAuthenticationEntryPoint">
	<intercept-url pattern="/" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        
	<intercept-url pattern="/login*" method="POST" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/logout*" method="GET" access="ROLE_MASTER, ROLE_ADMIN, ROLE_USER" />
        
        <intercept-url pattern="/admins*" access="ROLE_MASTER" />
        <intercept-url pattern="/users*" access="ROLE_MASTER, ROLE_ADMIN" />
        
        <intercept-url pattern="/drivers" method="GET" access="ROLE_MASTER, ROLE_ADMIN" />
        <intercept-url pattern="/drivers/*/updateCoordinates" method="POST" access="ROLE_USER" />
        <intercept-url pattern="/drivers/*/assignVehicle" method="POST" access="ROLE_MASTER, ROLE_ADMIN" />
        <intercept-url pattern="/drivers/*/assignedVehicle" method="GET" access="ROLE_MASTER, ROLE_ADMIN, ROLE_USER" />
        <intercept-url pattern="/drivers/*" method="GET" access="ROLE_MASTER, ROLE_ADMIN, ROLE_USER" />
        <intercept-url pattern="/drivers/*" method="POST" access="ROLE_MASTER, ROLE_ADMIN" />
        
        <intercept-url pattern="/vehicles*" access="ROLE_MASTER, ROLE_ADMIN" />
                
        <intercept-url pattern="/statements" method="POST" access="ROLE_USER" />
        <intercept-url pattern="/statements*" method="GET" access="ROLE_MASTER, ROLE_ADMIN" />
        
        <intercept-url pattern="/**" requires-channel="any" access="ROLE_MASTER, ROLE_ADMIN, ROLE_USER" />   
        <form-login
            login-processing-url="/login"
            username-parameter="username"
            password-parameter="password"
            authentication-success-handler-ref="defaultAuthenticationLoginSuccessHandler"
            authentication-failure-handler-ref="defaultAuthenticationLoginFailureHandler"
        />
        <logout
            logout-url="/logout"
            invalidate-session="true"
            success-handler-ref="defaultAuthenticationLogoutSuccessHandler" />
    </http>
    
    <beans:bean id="defaultAuthenticationEntryPoint" class="skip.DefaultAuthenticationEntryPoint" />
    <beans:bean id="defaultAuthenticationLoginSuccessHandler" class="skip.DefaultAuthenticationLoginSuccessHandler" />
    <beans:bean id="defaultAuthenticationLoginFailureHandler" class="skip.DefaultAuthenticationLoginFailureHandler" />
    <beans:bean id="defaultAuthenticationLogoutSuccessHandler" class="skip.DefaultAuthenticationLogoutSuccessHandler" />

    <!-- AUTHENTICATION -->
    <context:property-placeholder location="classpath*:security/security.properties" />
        
    <!-- (Requires the specified database to contain the standard Spring Security user data tables) -->
    <!--<beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
        <!--<beans:property name="driverClassName" value="${database.driverClassName}" />-->
	<!--<beans:property name="url" value="${database.url}" />-->
	<!--<beans:property name="username" value="${database.username}" />-->
	<!--<beans:property name="password" value="${database.password}" />-->
    <!--</beans:bean>-->

    <beans:bean class="java.net.URI" id="dbUrl">
        <beans:constructor-arg value="#{systemEnvironment['DATABASE_URL']}"/>
    </beans:bean>
    
    <beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <beans:property name="driverClassName" value="org.postgresql.Driver" />
	<beans:property name="url" value="#{ 'jdbc:postgresql://' + @dbUrl.getHost() + ':' + @dbUrl.getPort() + @dbUrl.getPath() }" />
	<beans:property name="username" value="#{ @dbUrl.getUserInfo().split(':')[0] }" />
	<beans:property name="password" value="#{ @dbUrl.getUserInfo().split(':')[1] }" />
    </beans:bean>

    <!-- Initiallize the data source -->
    <jdbc:initialize-database data-source="dataSource" ignore-failures="ALL" enabled="${database.initialize}">
        <jdbc:script location="classpath*:security/db-schema.sql" />
        <jdbc:script location="classpath*:security/db-input.sql" />
    </jdbc:initialize-database>
    
    <authentication-manager>
        <authentication-provider>
            <jdbc-user-service 
                data-source-ref="dataSource"
                users-by-username-query="${database.usersQuery}"
                authorities-by-username-query="${database.authoritiesQuery}"
            />
        </authentication-provider>
    </authentication-manager>

</beans:beans>
